.Age {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-day {
    padding-left: 8px;
    .inputField;
  }

  &-month {
    padding-left: 8px;
    .inputField;
  }

  &-year {
    padding-left: 8px;
    .inputField;
  }
}