.Age {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-day {
    padding-left: 14px ;
    padding-top: 5px;
    width: 85px;
    .inputField;

    &--dropWidth {
      width: 85px;
      z-index: 99;
    }
  }

  &-month {
    padding-left: 14px;
    padding-top: 5px;
    width: 120px;
    .inputField;

    &--dropWidth {
      width: 120px;
      z-index: 99;
    }
  }

  &-year {
    padding-left: 14px;
    padding-top: 5px;
    width: 105px;
    .inputField;

    &--dropWidth {
      width: 105px;
      z-index: 99;
    }
  }
}