.UserList {
  max-width: 100%;
  padding: 10px 10px 10px 70px;
  display: flex;
  flex-direction: column;

  &-header {
    font-weight: 300;
    font-size: 20pt;
    padding: 20px 0;
  }

  &-sliderWrap {
    max-width: 400px;
  }

  &-tabs {

  }
}
