.u-container {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

.u-formpadding {
  padding: 7px 0;
}

.u-paddingB10 {
  padding: 0 0 10px 0;
}

.u-paddingT10B10 {
  padding: 10px 0;
}

.u-paddingT20B20 {
  padding: 20px 0;
}

.u-paddingT10B30 {
  padding: 10px 5px 30px;
}